body{
  text-align: center;

}
h1{
    font-family: Tourney;
    font-size: 80px;
    color: #66BFBF;
}
h2{
  color: #66BFBF;

}
h3{
  color:#11999E;
}
.top-container {
  background-color: cyan;
  position: relative;
  padding-top: 100px;
}


.top-container:hover {
  background-color: blue;
  transition: 1.0s;

}
.middle-container{
  background-color: aqua;
  width: 200px;
  height: 200px;
}
.bottom-container{
  background-color: pink;
  width: 200px;
  height: 200px;
}
.top{
  position: absolute;
  right: 300px;
  top: 50px;
}
.btm{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.footer-link{
  color: #11999E;
}
.dance{
  width: 110px;
  height: 160px;
}
.skill{
  width: 120px;
  height: 120px;
}
.dance:hover{

  width: 220px;
  height: 320px;
  transition: 0.8s;
  transition-duration: 1s;
}
.skill:hover{
  width: 240px;
  height: 240px;
  transition: 0.8s;
  transition-duration: 1s;
}
.deku{
  width: 160px;
  height: 160px;
}
.deku:hover{
  width: 220px;
  height: 220px;
  transition: 1s;
}
